{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'footer.css'%}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <div class="container">
        <div class="jumbotron">
        {% block main %}
        {% endblock %}
        </div>
    </div>

{% block footer %}
    <footer class="footer text-center">
        <div class="container">
            <span class="text-muted">Made By: Giovanna Mascarenhas</span>
        </div>
    </footer>
{% endblock %}
</body>
</html>