{% extends 'base.html' %}



{% block main %}

    {% if user.is_authenticated %}
        <p class="usuario">Olá, {{user.username }}</p>
    {% endif %}

    <h3>Listagem de Produtos:</h3>
    <ul class="list-group quadro">
        {% for produto in produtos %}
            <li class="list-group-item"><a href="{% url 'update_produto' produto.id %}"> {{produto.nome_produto}}
                <a href="{% url 'delete_produto' produto.id %}" class="trash-item">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a> </a></li>

        {% endfor %}
    </ul>
    <br>
    <a href="{% url 'produto_novos' %}" class="btn btn-success"> Novo Produto</a>
    <br>
    <a href="{% url 'logout' %}" class="btn btn-danger sair">Sair</a>


{% endblock %}